In [58]:
import pypsa
import pandas as pd
from matplotlib.pyplot import legend

### Read Network

In [59]:
path_aldehyde_esc = 'aldehyde/resources/elec_s_20_ec_lc1.0_Co2L_730H_2030_0.069_esc.nc'
path_earth_sec = 'pypsa-earth-sec/results/Runname_test/prenetworks/elec_s_20_ec_lc1.0_Co2L_730H_2030_0.069.nc'
path_earth_sec_two = 'pypsa-earth-sec/results/Runname_test/prenetworks/elec_s_90774_ec_lc1_Co2L_7H_2030.nc'
path_eur = 'pypsa-eur/networks/elec_s_37_ec_lcopt_Co2L-3H.nc'
path_africa = 'pypsa-africa/networks/elec_s_55_ec_lcopt_Co2L-3H.nc'
path_africa_two = 'pypsa-africa/networks/elec_s.nc'

path_prefix = '../../../'

In [60]:
n = pypsa.Network(path_prefix+path_africa_two)

WARNING:pypsa.io:
Importing PyPSA from older version of PyPSA than current version.
Please read the release notes at https://pypsa.readthedocs.io/en/latest/release_notes.html
carefully to prepare your network for import.
Currently used PyPSA version [0, 20, 1], imported network file PyPSA version [0, 20, 0].

INFO:pypsa.io:Imported network elec_s.nc has buses, carriers, generators, lines, loads, storage_units

### Investigate potentials

In [61]:
for tech in ["onwind", "solar"]:
    potential = n.generators[n.generators.carrier == tech].p_nom_max
    print(f"The number of {tech} generators is {len(potential)}")
    print(f"The total {tech} potential is {potential.sum():.2f} MW")

The number of onwind generators is 46
The total onwind potential is 2809.85 MW
The number of solar generators is 47
The total solar potential is 387.97 MW

In [62]:
n.generators[n.generators.carrier=='solar']

,p_nom_max,weight,p_nom,capital_cost,efficiency,p_nom_min,marginal_cost,bus,carrier,p_nom_extendable,...,start_up_cost,shut_down_cost,min_up_time,min_down_time,up_time_before,down_time_before,ramp_limit_up,ramp_limit_down,ramp_limit_start_up,ramp_limit_shut_down
Generator,,,,,,,,,,,,,,,,,,,,,
0 solar,10.297489,4098.245476,5.148745,55064.071419,1.0,5.148745,0.01,0,solar,True,...,0.0,0.0,0,0,1,0,NaN,NaN,1.0,1.0
1 solar,17.393114,6919.778720,8.696557,55064.071419,1.0,8.696557,0.01,1,solar,True,...,0.0,0.0,0,0,1,0,NaN,NaN,1.0,1.0
10 solar,17.322748,6891.074183,8.661374,55064.071419,1.0,8.661374,0.01,10,solar,True,...,0.0,0.0,0,0,1,0,NaN,NaN,1.0,1.0
102 solar,19.176290,7630.093032,9.588145,55064.071419,1.0,9.588145,0.01,102,solar,True,...,0.0,0.0,0,0,1,0,NaN,NaN,1.0,1.0
11 solar,17.482513,6949.047027,8.741257,55064.071419,1.0,8.741257,0.01,11,solar,True,...,0.0,0.0,0,0,1,0,NaN,NaN,1.0,1.0
111 solar,10.308246,4101.833591,0.947674,55064.071419,1.0,5.154123,0.01,111,solar,True,...,0.0,0.0,0,0,1,0,NaN,NaN,1.0,1.0
112 solar,0.000000,0.217557,0.000000,55064.071419,1.0,0.000000,0.01,112,solar,True,...,0.0,0.0,0,0,1,0,NaN,NaN,1.0,1.0
123 solar,15.886563,6319.394421,3.641320,55064.071419,1.0,7.943282,0.01,123,solar,True,...,0.0,0.0,0,0,1,0,NaN,NaN,1.0,1.0
126 solar,8.434519,3356.416498,1.173896,55064.071419,1.0,4.217259,0.01,126,solar,True,...,0.0,0.0,0,0,1,0,NaN,NaN,1.0,1.0
127 solar,5.644372,2246.094504,2.822186,55064.071419,1.0,2.822186,0.01,127,solar,True,...,0.0,0.0,0,0,1,0,NaN,NaN,1.0,1.0
13 solar,0.560935,223.192284,0.280468,55064.071419,1.0,0.280468,0.01,13,solar,True,...,0.0,0.0,0,0,1,0,NaN,NaN,1.0,1.0
139 solar,0.697347,277.495811,0.348673,55064.071419,1.0,0.348673,0.01,139,solar,True,...,0.0,0.0,0,0,1,0,NaN,NaN,1.0,1.0
144 solar,0.000000,0.714902,0.000000,55064.071419,1.0,0.000000,0.01,144,solar,True,...,0.0,0.0,0,0,1,0,NaN,NaN,1.0,1.0
15 solar,13.288588,5287.447246,6.644294,55064.071419,1.0,6.644294,0.01,15,solar,True,...,0.0,0.0,0,0,1,0,NaN,NaN,1.0,1.0
175 solar,2.894745,1151.383016,1.447373,55064.071419,1.0,1.447373,0.01,175,solar,True,...,0.0,0.0,0,0,1,0,NaN,NaN,1.0,1.0
18 solar,1.100448,437.948165,0.161150,55064.071419,1.0,0.550224,0.01,18,solar,True,...,0.0,0.0,0,0,1,0,NaN,NaN,1.0,1.0
21 solar,6.453080,2567.554624,3.226540,55064.071419,1.0,3.226540,0.01,21,solar,True,...,0.0,0.0,0,0,1,0,NaN,NaN,1.0,1.0
217 solar,3.202813,1273.939311,1.601406,55064.071419,1.0,1.601406,0.01,217,solar,True,...,0.0,0.0,0,0,1,0,NaN,NaN,1.0,1.0
24 solar,20.827303,8286.193085,3.503923,55064.071419,1.0,10.413651,0.01,24,solar,True,...,0.0,0.0,0,0,1,0,NaN,NaN,1.0,1.0
244 solar,10.479135,4169.105962,5.239568,55064.071419,1.0,5.239568,0.01,244,solar,True,...,0.0,0.0,0,0,1,0,NaN,NaN,1.0,1.0
254 solar,6.852387,2726.424021,3.426193,55064.071419,1.0,3.426193,0.01,254,solar,True,...,0.0,0.0,0,0,1,0,NaN,NaN,1.0,1.0
258 solar,13.558130,5393.901305,6.779065,55064.071419,1.0,6.779065,0.01,258,solar,True,...,0.0,0.0,0,0,1,0,NaN,NaN,1.0,1.0
26 solar,4.244215,1688.306850,2.122108,55064.071419,1.0,2.122108,0.01,26,solar,True,...,0.0,0.0,0,0,1,0,NaN,NaN,1.0,1.0
29 solar,2.470664,983.069516,1.235332,55064.071419,1.0,1.235332,0.01,29,solar,True,...,0.0,0.0,0,0,1,0,NaN,NaN,1.0,1.0
31 solar,3.616794,1439.135721,1.808397,55064.071419,1.0,1.808397,0.01,31,solar,True,...,0.0,0.0,0,0,1,0,NaN,NaN,1.0,1.0
32 solar,2.209838,879.387831,1.104919,55064.071419,1.0,1.104919,0.01,32,solar,True,...,0.0,0.0,0,0,1,0,NaN,NaN,1.0,1.0
35 solar,0.418318,170.094658,0.000000,55064.071419,1.0,0.209159,0.01,35,solar,True,...,0.0,0.0,0,0,1,0,NaN,NaN,1.0,1.0
367 solar,0.000000,2.092441,0.000000,55064.071419,1.0,0.000000,0.01,367,solar,True,...,0.0,0.0,0,0,1,0,NaN,NaN,1.0,1.0
38 solar,7.824007,3112.991696,3.912004,55064.071419,1.0,3.912004,0.01,38,solar,True,...,0.0,0.0,0,0,1,0,NaN,NaN,1.0,1.0
42 solar,2.732706,1087.415202,1.366353,55064.071419,1.0,1.366353,0.01,42,solar,True,...,0.0,0.0,0,0,1,0,NaN,NaN,1.0,1.0
424 solar,0.000000,1.435753,0.000000,55064.071419,1.0,0.000000,0.01,424,solar,True,...,0.0,0.0,0,0,1,0,NaN,NaN,1.0,1.0
440 solar,7.070963,2812.757619,3.535482,55064.071419,1.0,3.535482,0.01,440,solar,True,...,0.0,0.0,0,0,1,0,NaN,NaN,1.0,1.0
442 solar,13.662291,5430.226889,6.831145,55064.071419,1.0,6.831145,0.01,442,solar,True,...,0.0,0.0,0,0,1,0,NaN,NaN,1.0,1.0
48 solar,4.169167,1658.749772,2.084583,55064.071419,1.0,2.084583,0.01,48,solar,True,...,0.0,0.0,0,0,1,0,NaN,NaN,1.0,1.0
50 solar,9.608718,3821.352786,4.804359,55064.071419,1.0,4.804359,0.01,50,solar,True,...,0.0,0.0,0,0,1,0,NaN,NaN,1.0,1.0
51 solar,14.117073,5615.927163,7.058537,55064.071419,1.0,7.058537,0.01,51,solar,True,...,0.0,0.0,0,0,1,0,NaN,NaN,1.0,1.0
553 solar,10.038022,3994.503103,5.019011,55064.071419,1.0,5.019011,0.01,553,solar,True,...,0.0,0.0,0,0,1,0,NaN,NaN,1.0,1.0
56 solar,3.102050,1234.185707,1.551025,55064.071419,1.0,1.551025,0.01,56,solar,True,...,0.0,0.0,0,0,1,0,NaN,NaN,1.0,1.0
6 solar,4.877696,1940.919104,2.438848,55064.071419,1.0,2.438848,0.01,6,solar,True,...,0.0,0.0,0,0,1,0,NaN,NaN,1.0,1.0
613 solar,25.260300,10050.146844,12.630150,55064.071419,1.0,12.630150,0.01,613,solar,True,...,0.0,0.0,0,0,1,0,NaN,NaN,1.0,1.0
67 solar,0.418956,166.718181,0.209478,55064.071419,1.0,0.209478,0.01,67,solar,True,...,0.0,0.0,0,0,1,0,NaN,NaN,1.0,1.0
78 solar,47.830898,19026.872775,6.551262,55064.071419,1.0,23.915449,0.01,78,solar,True,...,0.0,0.0,0,0,1,0,NaN,NaN,1.0,1.0
8 solar,13.252020,5272.804034,6.626010,55064.071419,1.0,6.626010,0.01,8,solar,True,...,0.0,0.0,0,0,1,0,NaN,NaN,1.0,1.0
82 solar,3.225401,1283.412334,1.612700,55064.071419,1.0,1.612700,0.01,82,solar,True,...,0.0,0.0,0,0,1,0,NaN,NaN,1.0,1.0
83 solar,5.669704,2254.985389,2.834852,55064.071419,1.0,2.834852,0.01,83,solar,True,...,0.0,0.0,0,0,1,0,NaN,NaN,1.0,1.0
86 solar,0.290576,115.637648,0.145288,55064.071419,1.0,0.145288,0.01,86,solar,True,...,0.0,0.0,0,0,1,0,NaN,NaN,1.0,1.0
87 solar,0.000000,3.388801,0.000000,55064.071419,1.0,0.000000,0.01,87,solar,True,...,0.0,0.0,0,0,1,0,NaN,NaN,1.0,1.0